[submodule "templates/figma"]
	path = templates/figma
	url = https://github.com/yelbolt/unoff-template-figma
[submodule "templates/penpot"]
	path = templates/penpot
	url = https://github.com/yelbolt/unoff-template-penpot
